@media screen and (max-width:600px) {
    .flex{
        flex-direction: column;
    }
    .popular-tour-section{
        margin-top: 1rem;
        gap: 1rem;
    }
    .tour-section-content,.tour-section-img,.banner-section,.destination-section,.why-choice-us,.first-reason,.second-reason,.newsletter-subscribe,.newsletter-discount-container{
        width: 90%;
        margin: 0 auto;
    }
    .banner-title{
        padding-top: .5rem;
    }
    .search-var{
        width: 350px;
        max-height: 800px;
    }
    .search-var button{
        width: 90%;
        height: 52px;
        margin-left: .5rem;
    }
    .search-var input {
        width: 90%;
        height: 52px;
        border-radius: 8px;
        background: #FFF;
        border: 0;
        margin: .5rem;
    }
    #when,#type{
        display: none;
    }
    .destination-place-img-container{
        display: flex;
        flex-direction: column;
    }
    .destination-place-img-container img{
        width: 100%;
    }
    .reason-container{
        gap: 0;
    }
    .first-reason,.second-reason,.third-reason{
        width: 90%;
        margin-bottom: .8rem;
    }
    .newsletter-container{
        margin-top:1rem ;
    }
    .newsletter-subscribe input,.newsletter-subscribe button{
        width: 100%;
    }.newsletter-discount-container img{
        width: 100%;
    }
    .discount{ 
        top: 55%;
        left: 49%;
        bottom: 14%;
        transform: rotate(-20.62deg);
    }
    .discount{
        width: 50%;
    }
    .discount h1 {
        color: #FFF;
        font-size: .9rem;
        font-weight: 800;
        padding-bottom: .5rem;
    }
    .discount h5 {
        color: #FFF;
        font-size: .5rem;
        font-weight: 200;
    }
    .footer,.why-choice-us{
        margin-top: 1rem;
    }
    .footer-logo-container{
    display: flex;
    flex-direction: row;
    }
    .logo-img{
        width: 40px;
    }
    .review-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .review{
        width: 90%;
        margin: 0 auto;
    }
    .review-img{
        margin: 0 auto;
    }

}
    