/* global style start here */
* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btd-primary {
    width: 170px;
    height: 50px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.common-section-content {
    text-align: center;
}

.common-section-title {
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 1.3rem;
}

.common-section-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1.4rem;
}

/* global style end here */
/* nav section style start here */
.nav-container {
    margin-top: 2rem;
    margin-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    align-items: center;
    gap: 1.5rem;
}

.logo-title {
    color: #131318;
    font-family: Mulish;
    font-size: 2.2rem;
    font-weight: 800;
}

.special {
    color: #FF5400;
    font-family: Mulish;
    font-size: 2.2rem;
    font-weight: 800;
}

.ul-container {
    list-style: none;
    gap: 1.5rem;
    padding: .8rem;
}

.ul-container li a {
    text-decoration: none;
    color: #424247;
    padding: .5rem;
    text-align: center;
    font-size: 1.1rem;
}

.ul-container li a:hover {
    background-color: #8080800e;
    border-radius: .5rem;
    color: #FF5400;
}

/* nav section style end here */
/* banner section style start here */
.banner-section {
    height: 600px;
    margin-top: 2rem;
    background: url(../image/banner-img.png), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.banner-text {
    margin: 0 auto;
    max-width: 690px;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 6.9rem;
    padding-bottom: 1rem;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    padding-bottom: .5rem;
}

.search-var {
    max-width: 800px;
    max-height: 80px;
    margin: 1rem auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: .8rem;
}

.search-var input {
    width: 170px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}

/* banner section style end here */
/* tour section style start here */
.popular-tour-section {
    margin: 5rem auto;
    gap: 3.2rem;
    margin-bottom: 0;

}

.tour-section-content {
    text-align: left;
    width: calc((100% - 3.2rem)/2);
}

.tour-section-title {
    padding-bottom: 1.5rem;
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}

.tour-section-description,
.tour-list {
    padding-bottom: 1rem;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.tour-section-img {
    width: 50%;
}

.tour-section-img img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 16px;
}

/* tour section style end here */
/* destination section start here */
.destination-place-img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.4rem;
}

.destination-place-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.destination-maldives {
    grid-column: 1/7;
    position: relative;
}

.destination-indonesia {
    grid-column: 7/13;
    position: relative;
}

.destination-srilanka {
    grid-column: 1/4;
    position: relative;
}

.destination-north-america {
    grid-column: 4/10;
    position: relative;
}

.destination-kashmir {
    grid-column: 10/13;
    position: relative;
}

.destination-bangladesh {
    grid-column: 1/6;
    position: relative;
}

.destination-bandarban {
    grid-column: 6/13;
    position: relative;
}

.img-title {
    position: absolute;
    bottom: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
}

/* destination section style end here */
/* why-choose-us section style start here */
.first-reason,
.second-reason {
    max-width: 630px;
    max-height: 280px;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.reason-container {
    gap: 1.5rem;
}

.first-reason {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.second-reason {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.third-reason {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 630px;
    max-height: 280px;
    border-radius: 1rem;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.reason-title {
    color: #131318;
    font-size: 1rem;
    font-weight: 800;
    padding-left: 1rem;
}

.reason-description {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
}

/* why-choose-us section style end here */
/* newsletter section style start here */
.newsletter-container {
    gap: 2.5rem;
    margin-top: 6.25rem;
}

.newsletter-subscribe {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #FF5400;
    width: 40%;
}

.newsletter-subscribe input {
    display: block;
    width: 390px;
    height: 50px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
    border-radius: 8px;
    padding: 1rem;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
}

.newsletter-title {
    color: #131318;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    margin-bottom: .2rem;
}

.newsletter-des {
    color: #5A5A5D;
    width: 300px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

hr {
    background: rgba(19, 19, 24, 0.10);
}

.subscribe-btd {
    width: 390px;
    height: 50px;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
}
.newsletter-discount-container{
    position: relative;
}
.newsletter-discount-container img{
    border-radius: 1.5rem;
    /* background: url(../image/north-america.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    width: 100%;
    position: relative;
}
.discount {
    width: 40%;
    padding: 1.5rem;
    border-radius: 1rem;
    transform: rotate(-20.62deg);
    background-color: #FF5400;
    position: absolute;
    top: 66%;
    left: 59%;
    text-align: center;
}
.discount h1 {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 800;
}
.discount h5 {
    color: #FFF;
    font-size: 1rem;
    font-weight: 200;
}
/* newsletter section style end here */